[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
opencv-python = "*"
pyautogui = "*"
pyobjc-core = "*"
pyobjc = "*"
numpy = "*"
matplotlib = "*"
imutils = "*"
statistics = "*"

[requires]
python_version = "2.7"
